//
   Created by feng on 2016/12/1.

extends block/frame
block adminContent
    .admin-con
        .breadcrumb
            li.on 文章列表
            li
                a(href='addArticle') 添加文章
            //li.active
            //    a(href='#') 实例2
            //li
            //    a(href='#') 实例2
        hr
        .admin-list
            table.table.table-striped.article-list
                caption 当前页面有：#{content.length} 条文章记录
                thead
                    tr
                        th 标题
                        th 作者
                        th 标签
                        th 评论
                        th 日期
                tbody
                    each item in content
                        tr
                            td #{item.title}
                                p
                                    a.js-linkAjax(href='delArticle/#{item._id}' data-confirm="确认删除吗，删除后不可恢复？") 删除
                                    a(href='editArticle/#{item._id}') 编辑
                            td #{item.author}
                            td #{item.tags}
                            td #{item.comments.length}
                            td.js-dateTime(date='#{item.date}')
            .page-break
                p.pull-left 系统共有：#{pages.cont} 条数据，#{pages.allPage} 页
                ul.pagination
                    if (pages.page - 1) > 0
                        li
                            a(href="/feng/articleList?page=#{pages.page - 1}") < 上一页
                    else
                        li.disabled
                            span 第一页了
                    li.active
                        span #{pages.page}
                    //li
                    //    a(href="#") 2
                    //li
                    //    a(href="#") 3
                    if pages.page < pages.allPage
                        li
                            a(href="/feng/articleList?page=#{pages.page + 1}") 下一页 >
                    else
                        li.disabled
                            span 没有了

