//
   Created by feng on 2016/11/4.

extends block/frame
block append head
    link(rel='stylesheet', href='/stylesheets/editor.css')
    script(src="/javascripts/editor.bundle.js")
block adminContent
    .admin-con
        .breadcrumb
            li.on 编辑文章：#{content.title}
            li.pull-right
                a.has-icon.js-back(href='#') 返回列表
                    span.iconfont.icon-back
        hr
        form.edit-article.js-editArticle-ajax(method="post" action="#{content._id}")
            .row
                .col-sm-9.edit-article-left
                    .edit-textarea
                        .form-group.form-group-lg.js-checkInput
                            input.form-control.must.js-title(name="title" type="text" value="#{content.title}" placeholder="输入标题")
                        textarea#textArea.form-control.js-textArea.js-autoHeight(name="body") #{content.body}
                .col-sm-3.edit-article-right
                    .edit-right-con
                        h4 图文预览
                        ul.edit-right-pic
                            li
                                h3.process.js-processFile
                                if content.topPic
                                    img.js-showTopPic(src="#{content.topPic}")
                                else
                                    img.js-showTopPic
                                p.js-bindTitle 文章标题
                        .js-uploadFile 上传封面
                        hr
                        //.input-group
                            //label.input-group-addon.control-label 封面:
                        input.form-control.js-getTopPic(name="topPic" type="hidden" placeholder="填写封面图地址")
                        .input-group
                            label.input-group-addon.control-label 话题:
                            input.form-control(name="tags" type="text" value="#{content.tags}")

                        .input-group
                            label.input-group-addon.control-label 作者:
                            input.form-control(name="author" type="text" value="#{content.author}")
                        .input-group
                            label.input-group-addon.control-label 设置:
                            select.form-control(name="flag")
                                option(value="0")
                                option(value="1") 推荐
                                option(value="2") 置顶
                                option(value="3") 头条
                        hr
                        button.btn.btn-block.btn-success(type="submit") 保存/发布
                        button.btn.btn-block.btn-default.js-back(type="reset") 取消/重置


