//
   Created by feng on 2016/12/1.

extends block/frame
block adminContent
    .admin-con
        .breadcrumb
            li.on 话题管理
            //li
            //    a(href='#') 添加话题
            //li.active
            //    a(href='#') 实例2
            //li
            //    a(href='#') 实例2
        hr
        .tag-list
            table.table.table-bordered.tags-table
                caption 共查询到：#{content.length} 条话题记录
                thead
                    tr
                        th.w-p20 话题名称
                        th.w-p20 话题描述
                        th.w-p20 关键词
                        th.w-p10 添加时间
                        th.w-p10 导航显示
                        th.w-p20 操作
                tbody
                    each item in content
                        tr
                            td ##{item.tag_name}#
                                small (#{item.tag_num})
                            td #{item.tag_description}
                            td #{item.tag_keyword}
                            td.js-dateTime(date="#{item.date}")
                            td
                                if item.tag_nav
                                    | 显示
                                else
                                    | 不显示
                            td
                                a.js-linkAjax(href="/feng/delTag/#{item._id}") 删除
                                button.btn-link.js-tagEdit(type='button' data-target='#{item._id}') 编辑
                        //编辑话题
                        tr.tag-edit(id="#{item._id}")
                            td ##{item.tag_name}#
                            td(colspan="5")
                                form.form-horizontal.js-editForm(method="post" action="/feng/editTag/#{item._id}")
                                    .input-group
                                        input.form-control(type="hidden" name="tag_name" value="#{item.tag_name}")
                                        label.control-label.input-group-addon 描述信息
                                        if item.tag_description === undefined
                                            input.form-control(type="text" name="tag_description" placeholder="输入tag描述")
                                        else
                                            input.form-control(type="text" name="tag_description" placeholder="输入tag描述" value="#{item.tag_description}")
                                        label.control-label.input-group-addon 关键词
                                        if item.tag_keyword === undefined
                                            input.form-control(type="text" name="tag_keyword" placeholder="输入tag关键词")
                                        else
                                            input.form-control(type="text" name="tag_keyword" placeholder="输入tag关键词" value="#{item.tag_keyword}")
                                        label.control-label.input-group-addon 导航显示
                                        select.form-control(name="tag_nav")
                                            if item.tag_nav
                                                option(value='1' selected) 是
                                                option(value='0') 否
                                            else
                                                option(value='1') 是
                                                option(value='0' selected) 否
                                        span.input-group-btn
                                            button.btn.btn-info(type="submit") 确定修改
                                            button.btn.btn-default.js-editAbort(type="button" data-target='#{item._id}') 取消编辑

            .clearfix
            //添加话题
            form.form-horizontal.js-addTag-ajax(method='post' action='/feng/tagList')
                .input-group
                    label.control-label.input-group-addon 话题名称：
                    input.form-control(type="text" name="tag_name" placeholder="输入话题名称")

                    label.control-label.input-group-addon 描述：
                    input.form-control(type="text" name="tag_description" placeholder="输入话题描述")

                    label.control-label.input-group-addon 关键词：
                    input.form-control(type="text" name="tag_keyword" placeholder="输入话题关键词")
                    label.control-label.input-group-addon 设为导航：
                    select.form-control(name="tag_nav")
                        option(value='1') 是
                        option(value='0' selected) 否
                    span.input-group-btn
                        button.btn.btn-success(type="submit") 添加新话题
