//
   Created by feng on 2016/11/4.
extends layout

block content

    // banner
    .article-title
        img(src='#{content.topPic}', alt='#{content.title}')
        .article-des
            // 内层
            .container
                .article-des-title
                    h1 #{content.title}
                    p
                        small
                            span.iconfont.icon-rili
                            em.js-date(date='#{content.date}')
                        small
                            span.iconfont.icon-discuss
                            em #{content.comments.length}
    // 主内容
    .container
        // 内容部分
        .article-con
            != content.body
            .clearfix
            hr
            .article-info.js-fixed
                .article-info-l
                    p
                        span.iconfont.icon-riqi
                        span.js-dateTime(date='#{content.date}')
                    if !!content.tags
                        p.article-tag
                            span.iconfont.icon-tag
                            each tag in content.tags.split(',')
                                if tag
                                    a(href='/tags/#{tag}') #{tag}
                    p.pull-right
                        a(href='#')
                            span.iconfont.icon-discuss
                            | #{content.comments.length}
                .article-info-r.js-prevNext(data-date='#{content.date}')

        // 推荐部分
        if relate.length > 1
            .article-relate
                h3 相关推荐
                .article-relate-con.row
                    each item in relate
                        if JSON.stringify(item) !== JSON.stringify(content)
                            .col-xs-4
                                a(href='#{site.site_link}#{link.baseUrl}/#{item._id}' title="#{item.title}")
                                    .list-img
                                        img(src='#{item.topPic}', alt='#{item.title}')
                                    .list-con
                                        h4 #{item.title}
                                        p.list-con-des
                                            small
                                                span.iconfont.icon-date.js-date(date='#{item.date}')
                                            small
                                                span.iconfont.icon-discuss
                                                | #{item.comments.length}
