//
   Created by feng on 2016/11/4.
extends layout

block content

    // banner
    .article-title
        img(src='https://isux.tencent.com/wp-content/uploads/2016/02/20160202111209544.jpg', alt='{title}')
        .article-des
            // 内层
            .container
                .article-des-title
                    h1 #{content.title}
                    p
                        small
                            span.iconfont.icon-rili
                            em.js-date(date='#{content.date}')
                        small
                            span.iconfont.icon-discuss
                            em #{content.comments.length}
    // 主内容
    .container
        // 内容部分
        .article-con
            p #{content.body}
            .clearfix
            hr
            .article-info.js-fixed
                .article-info-l
                    p
                        span.iconfont.icon-riqi
                        span.js-dateTime(date='#{content.date}')
                    p.article-tag
                        span.iconfont.icon-tag
                        each tag in content.tags.split(',')
                            a(href='/tags/#{tag}') #{tag}
                    p.pull-right
                        a(href='#')
                            span.iconfont.icon-discuss
                            | 122
                .article-info-r
                    p
                        a(href='#') 上一篇
                    p
                        a(href='#') 下一篇
        // 推荐部分
        .article-relate
            h3 相关推荐
            .article-relate-con
                .col-xs-4
                    a(href='#')
                        img(src='https://isux.tencent.com/wp-content/uploads/2016/03/20160303124431993.jpg', alt='标题标题')
