//
   Created by feng on 2016/11/4.
extends layout
block append head
    link(rel='stylesheet', href='/stylesheets/editor.css')
block content

    // banner
    .article-title
        img(src='#{content.topPic}', alt='#{content.title}')
        .article-des
            // 内层
            .container
                .article-des-title
                    h1 #{content.title}
                    p
                        small
                            span.iconfont.icon-rili
                            em.js-date(date='#{content.date}')
                        small
                            span.iconfont.icon-discuss
                            //em #{content.comments.length}
                            em.ds-thread-count(data-thread-key="#{content._id}" data-count-type="comments")
    // 主内容
    .container
        // 内容部分
        .article-con
            != content.body
            .clearfix
            blockquote
                p 欢迎转载，转载请注明原文链接和出处，或联系微信：semfeng
                p.article-powerby © 著作权归作者所有
            .article-foot
                button.js-dialog.btn.btn-success(data-content="<img src='/images/wechat.png'>" title="微信扫一扫，打赏喝茶" ) ￥微信打赏￥
                button.js-dialog.btn.btn-primary(data-content="<img src='/images/alipay.png'>" title="支付宝扫一扫，打赏喝咖啡" ) ￥支付宝打赏￥
                p
                    small 您的支持，就是我的动力！

            hr
            .article-info.js-fixed
                .article-info-l
                    p
                        span.iconfont.icon-riqi
                        span.js-dateTime(date='#{content.date}')
                    if !!content.tags
                        p.article-tag
                            span.iconfont.icon-tag
                            each tag in content.tags.split(',')
                                if tag
                                    a(href='/tags/#{tag}') #{tag}
                    p.pull-right
                        a(href='#comment')
                            span.iconfont.icon-discuss
                            //| #{content.comments.length}
                            span.ds-thread-count(data-thread-key="#{content._id}" data-count-type="comments")
                .article-info-r.js-prevNext(data-date='#{content.date}')

        // 推荐部分
        if relate.length > 1
            .article-relate
                h3 相关推荐
                .article-relate-con.row
                    each item in relate
                        if JSON.stringify(item._id) !== JSON.stringify(content._id)
                            .col-sm-4
                                a(href='#{site.site_link}#{link.baseUrl}/#{item._id}' title="#{item.title}")
                                    .list-img
                                        img(src='#{item.topPic}', alt='#{item.title}')
                                    .list-con
                                        h4 #{item.title}
                                        p.list-con-des
                                            small
                                                span.iconfont.icon-date.js-date(date='#{item.date}')
                                            small
                                                span.iconfont.icon-discuss
                                                | #{item.comments.length}
        hr
        #comment.article-comment
            .ds-thread(data-thread-key="#{content._id}" data-title="#{content.title}" data-url="#{site.site_link}#{link.baseUrl}/#{content._id}")

