extends layout

block content
    //banner
    a.main-banner(href='/article/#{content[0].id}')
        .banner-bg
            img(src='#{content[0].topPic}', alt='#{content[0].title}')
            // 内层
            .banner-des
                .main-title
                    h1 #{content[0].title}
                    p
                        small
                            span.iconfont.icon-rili
                            em.js-date(date='#{content[0].date}')
                        small
                            span.iconfont.icon-discuss
                            em #{content[0].comments.length}
    // 主内容
    .container-fluid.main-list
        .row
            each item,key in content
                if key !== 0
                    .col-lg-3.col-md-4.col-sm-6
                        a.main-list-item(href='/article/#{item.id}')
                            .list-img
                                img(src='#{item.topPic}', alt='#{item.title}')
                            .list-con
                                h3 #{item.title}
                                p.list-con-des
                                    small
                                        span.iconfont.icon-date.js-date(date='#{item.date}')
                                    small
                                        span.iconfont.icon-discuss
                                        | #{item.comments.length}
        // row END page navigation 开始
        .page-more
            //a.btn.btn-block.btn-lg.btn-default(href='#') 下一页