doctype html
html
    head
        include block/head
        if content.title === undefined
            title= site.site_name
        else
            title= content.title + '-' + site.site_name

        meta(name='keywords' content='#{site.site_keyword}')
        meta(name='description' content='#{site.site_description}')
    body
        // 遮罩
        .shade-full.js-shade
        header.header
            nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                .navbar-heading
                    button#mobileNavBtn.navbar-toggle(type='button')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') #{site.site_name}
                // search
                .nav-search
                    form#mainSearch.nav-search-form(role='form', method='POST', action='#')
                        .form-group
                            input.form-control(type='text', placeholder='输入搜索')
                        button.nav-search-btn(type='submit')
                            span.iconfont.icon-fangdajing
                    a.nav-search-share(href='#')
                        span.iconfont.icon-qq
                    a.nav-search-share(href='#')
                        span.iconfont.icon-share
                // main nav
                #feng-navbar-collapse.collapse.navbar-collapse.pull-right
                    ul.nav.navbar-nav
                        li.active
                            a(href='#{site.site_link}') 首页
                        for item in nav
                            if item.nav_child.length === 0
                                li
                                    a(href='/column/#{item.nav_link}') #{item.nav_name}
                            else
                                li.dropdown.js-dropdown
                                    a.dropdown-toggle(href='/column/#{item.nav_link}', data-toggle='dropdown') #{item.nav_name}
                                        b.caret
                                    ul.dropdown-menu.navbar-dropdown-menu
                                        for child in item.nav_child
                                            li
                                                a(href='/column/#{item.nav_link}/#{child.nav_link}') #{child.nav_name}
                // 移动导航
                #mobileNav.mobile-nav
                    ul.nav.nav-pills.nav-stacked

                        for item in nav
                            if item.nav_child.length === 0
                                li
                                    a(href='/column/#{item.nav_link}') #{item.nav_name}
                            else
                                li
                                    a(href='/column/#{item.nav_link}') #{item.nav_name}
                                    ul.nav.nav-pills.nav-stacked
                                        for child in item.nav_child
                                            li
                                                a(href='/column/#{item.nav_link}/#{child.nav_link}') #{child.nav_name}

                // 移动 search
                .mobile-search.js-mobSearchIco
                    span.mob-search-ico.iconfont.icon-fangdajing
                form.mobile-search-form.col-xs-8.col-xs-offset-2.js-mobSearch(action='#', method='POST')
                    .form-group
                        input.form-control(type='text', placeholder='输入搜索')
                    button.mobile-search-btn(type='submit')
                        span.iconfont.icon-fangdajing
                // 移动 end

        block content


        // footer
        include block/footer

