//
   Created by feng on 2016/12/19.

extends layout

block content
    .container-fluid.main-list
        .tag-page
            ul
                li tag:
                li
                    a(href="#{link.baseUrl}#{link.path}") #{link.pageName}
            hr
        .row.js-listContent
            each item in content
                .col-lg-3.col-md-4.col-sm-6
                    a.main-list-item(href='/article/#{item.id}')
                        .list-img
                            img(src='#{item.topPic}', alt='#{item.title}')
                        .list-con
                            h3 #{item.title}
                            p.list-con-des
                                small
                                    span.iconfont.icon-date.js-date(date='#{item.date}')
                                small
                                    span.iconfont.icon-discuss
                                    | #{item.comments.length}

        // row END page navigation 开始
        .page-more
            a.btn.btn-block.btn-lg.btn-default.js-loadPage(href='#{link.baseUrl}#{link.path}') 下一页