doctype html
html
    head
        include ../../block/head
        link(rel='stylesheet', href='/stylesheets/admin.css')
        script(src='/javascripts/admin.bundle.js')
        title= site.site_name
        meta(name='keywords' content='#{site.site_keyword}')
        meta(name='description' content='#{site.site_description}')
        block head
    body
        header.admin-header
            nav.navbar.navbar-admin(role='navigation')
                ul.nav.navbar-nav
                    li.active
                        a(href='/admin') 管理中心
                ul.nav.navbar-nav.pull-right
                    li.active
                        a(href='/') 首页
                    each item,key in nav
                        if key < 3
                            li
                                a(href='/tags/#{item.tag_name}') #{item.tag_name}
                    if nav.length > 4
                        li.dropdown.js-dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown') 查看更多
                                b.caret
                            ul.dropdown-menu.navbar-dropdown-menu
                                each item,key in nav
                                    if key > 3
                                        li
                                            a(href='/tags/#{item.tag_name}') #{item.tag_name}


                    li.dropdown.js-dropdown
                        a.dropdown-toggle.has-menu-icon(href='#', data-toggle='dropdown')
                            | admin用户名
                            b.caret
                        ul.dropdown-menu
                            li
                                a.has-menu-icon(href='/admin/logout')
                                    span.iconfont.icon-quit
                                    | 退出

        block content
        //模态框
        include ../../block/tipModal