//
   Created by feng on 2016/11/21.

extends adminLayout
block content
    //后台框架结构
    .frame-con
        .frame-left
            .frame-layout
                .admin-menu.js-navActive
                    h4.admin-menu-title.js-mainMenu
                        b.iconfont.icon-shu
                    .slide-title.js-menuSlide
                        span.iconfont.icon-setting.pull-right(data-toggle="tooltip" data-placement="right" title="基础管理菜单")
                        b.caret
                        span 主要功能
                    ul.slide-menu
                        li
                            a(href='#{site.site_link}/feng')
                                b.iconfont.icon-user(data-toggle="tooltip" data-placement="right" title="用户中心")
                                span 用户中心
                        li
                            a(href='#{site.site_link}/feng/articleList')
                                b.iconfont.icon-article(data-toggle="tooltip" data-placement="right" title="文章管理")
                                span 文章管理
                        li
                            a(href='#{site.site_link}/feng/tagList')
                                b.iconfont.icon-col(data-toggle="tooltip" data-placement="right" title="话题管理")
                                span 话题管理
                        //li
                        //    a(href='#')
                        //        b.iconfont.icon-comment(data-toggle="tooltip" data-placement="right" title="评论管理")
                        //        span 评论管理
                    .slide-title.js-menuSlide
                        span.iconfont.icon-setting.pull-right(data-toggle="tooltip" data-placement="right" title="系统设置菜单")
                        b.caret
                        span 系统设置
                    ul.slide-menu
                        li
                            a(href='#{site.site_link}/feng/siteInfo')
                                b.iconfont.icon-web(data-toggle="tooltip" data-placement="right" title="网站信息")
                                span 网站信息
                        li
                            a(href='#{site.site_link}/feng/userList')
                                b.iconfont.icon-admin(data-toggle="tooltip" data-placement="right" title="用户列表")
                                span 用户列表
        .frame-right
            block adminContent
